@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("./../fonts/Metropolis-ExtraBold.woff2") fotmat("woff2"), url("./../fonts/Metropolis-ExtraBold.woff") fotmat("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("./../fonts/Metropolis-Bold.woff2") fotmat("woff2"), url("./../fonts/Metropolis-Bold.woff") fotmat("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("./../fonts/Metropolis-Light.woff2") fotmat("woff2"), url("./../fonts/Metropolis-Light.woff") fotmat("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("./../fonts/Metropolis-Black.woff2") fotmat("woff2"), url("./../fonts/Metropolis-Black.woff") fotmat("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("./../fonts/Metropolis-Medium.woff2") fotmat("woff2"), url("./../fonts/Metropolis-Medium.woff") fotmat("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("./../fonts/Metropolis-Regular.woff2") fotmat("woff2"), url("./../fonts/Metropolis-Regular.woff") fotmat("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#parent {
  margin: 0 auto;
  width: 600px;
}

#input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

#table {
  width: 100%;
}

#table td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}